.container {
  text-align: center;
  position: absolute; /*justify*/
  width: 100%; /*50*/
  height: 100%;
  /*50*/
  background-size: cover;
  background-color: #333333;
}
.body {
  text-align: center;
  position: justify;
  width: 50%;
  /* top: calc(50% - 922px / 2 - 0px); */
  background-color: #333333;
  padding: 0 10px;
  border: 1px solid #ffffff;
  box-shadow: 0px 4px 43px #ffffff, inset 0px 0px 40px rgba(20, 20, 20, 0.67);
  margin: auto;
  margin-top: 10%;
}
.heading {
  font-family: "Linden Hill", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 70px;
  /* padding-top: 30px; */
  /* line-height: 0px; */
  /* or 0px */
  color: rgba(255, 255, 255, 0.637);
  display: justify;
  align-items: center;
  text-align: center;
  letter-spacing: 0.15em;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.textfield {
  text-align: center;
  color: white;
  text-decoration: line-through;
}
.hr {
  width: 20%;
  margin-left: 0 auto;
  background-color: rgba(128, 128, 128, 0.233);
  border: 1px solid rgba(128, 128, 128, 0.034);
}

/* .input {
  position: absolute;
  width: 530px;
  height: 0px;
  left: 190px;
  top: 281px;
}
.todos {
  position: absolute;
  width: 528px;
  height: 580px;
  left: 190px;
  top: 357px;

  background: #1a2c33;
}


.textfield {
  color: white;
} */
/* .Head {
  text-align: center;
  position: absolute;
  width: 441px;
  height: 195px;
  left: calc(50% - 441px / 2 + 0.5px);
  top: calc(50% - 195px / 2 - 414.5px);
} */
